/**
 * This file contains the stylesheet of the template.
 *
 * @author Karl-Philipp Wulfert <animungo@gmail.com>
 * @package template
 * @version 1.0
 */

@font-face {
	font-family: Delicious;
	font-weight: normal;
	src: url('../fonts/delicious.otf');
	/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
}

@media screen {
	* {
		margin: 0;
		padding: 0
	}

	html, body {
		background: #fff;
		color: #000;
		font-family: Delicious, Verdana, Tahoma, Sans-Serif;
		font-size: 15px;
		margin: 0;
		padding: 0;
		position: absolute;
	}

	hr {
		background: #000;
		border: 0;
		color: #ddd;
		display: block;
		margin: 1em 0;
		height: 1px;
		width: 100%
	}

	img {
		vertical-align: middle
	}

	h2 {
		font-size: 2em;
		margin: 0.8em 0 0.6em 0.5em;
		padding: 0
	}

	h3 {
		font-size: 1.5em;
		margin: 0.8em 0 0.6em 0.5em;
		padding: 0
	}

	h4 {
		font-size: 1.4em;
		margin: 0.8em 0 0.6em 0;
		padding: 0
	}

	h5 {
		font-size: 1.3em;
		margin: 0.8em 0 0.6em 0;
		padding: 0
	}

	h6 {
		font-size: 1.2em;
		margin: 0.8em 0 0.6em 0;
		padding: 0
	}

	h2 .annotation, h3 .annotation, h4 .annotation, h5 .annotation, h6 .annotation {
		background: transparent;
		color: #aaa;
		font-size: 0.8em;
		font-style: italic
	}

	h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
		margin: 0;
		font-style: italic
	}

	a {
		background: transparent;
		color: #506ca3;
		text-decoration: none
	}

	a:hover {
		text-decoration: underline
	}

	a img {
		background: transparent;
		border: 0;
		color: #000
	}

	form {
		background: url('../images/back.png');
		color: #000;
		margin: 0;
		padding: 5px
	}

	form .frame {
		background: #fff;
		color: #000;
		padding: 1em
	}

	form h2 {
		background: transparent;
		color: #000
	}

	form table {
		border-collapse: collapse;
	}

	form table td {
		padding: 1em
	}

	label {
		font-size: 1em;
		font-weight: bold
	}

	label.block {
		display: block;
		margin: 0.5em 0 0.25em 0.5em
	}

	div > label.block:first-child {
		margin: 0 0 0.25em 0.5em
	}

	input, select {
		background: #eee;
		border: 1px solid #aaa;
		color: #000
	}

	form select {
		width: 100%
	}

	.submit {
		background: transparent;
		clear: both;
		color: #000;
		padding: 0.5em;
		text-align: right
	}

	table {
		width: 100%
	}

	th {
		background: #809cd3;
		color: #fff;
		font-size: 1.1em;
		font-weight: bold;
		padding: 0.5em;
		text-align: center
	}

	td {
		padding: 0.5em;
		vertical-align: top
	}

	td.foot {
		border-top: 2px solid #000;
		text-align: center
	}

	ol, ul {
		list-style-type: decimal;
		margin: 0 0 0 2em
	}


	#maintenanceMenu {
		border: 1px solid #ddd;
		background: #506ca3;
		top: 0;
		color: #fff;
		right: 0;
		padding: 1em;
		position: fixed;
		width: 200px
	}

	#maintenanceMenuNavigation strong {
		border-bottom: 1px solid #ddd;
		display: block;
		margin: 1em 0 0.25em 0;
		padding: 0 0 0.25em 0;
	}

	#maintenanceMenu a {
		background: transparent;
		color: #fff;
		display: block
	}

	#wrapper {
		margin: 0 0 0 5px;
		width: 1000px;
	}

	#javascriptNotice {
		font-size: 1.2em;
		font-weight: bold;
		margin: 10px 0;
		text-align: center;
	}

	#header {
		padding: 10px;
	}

	#logos {
		background: #fbfbfb;
		border: 1px solid #ddd;
		border-top: 0;
		color: #000;
		padding: 10px;
	}

	#logos a {
		background: transparent;
		color: #000;
		font-weight: bold;
		text-decoration: none;
	}

	h1 {
		font-size: 2em;
		font-variant: small-caps;
		margin: 0;
		padding: 0
	}

	h1 span.capital {
		font-size: 2em
	}

	#annotation {
		font-weight: bold;
		margin-bottom: 0
	}

	#pubMenu {
		background: #fbfbfb;
		border: 1px solid #ddd;
		border-bottom: 0;
		color: #000;
	}

	#pubMenu a {
		border-right: 1px solid #eee;
		display: inline-block;
		font-weight: bold;
		padding: 5px 10px;
		text-align: center;
		width: 80px;
	}

	#pubMenu a:hover {
		background: #ffa;
		color: #000;
	}

	#maintenanceMenuTrigger {
		background: transparent;
		color: #aaa;
		display: inline;
		float: right;
		font-size: 0.8em;
	}

	#helptextToggler {
		border-left: 1px solid #eee;
		display: inline;
		float: right;
		width: 100px;
	}

	#body {
		background: #fff;
		border: 1px solid #ddd;
		color: #000;
		line-height: 1.5em;
		padding: 10px;
	}

	.subNav {
		background: #fff;
		color: #000;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		display: inline;
		float: right;
		font-size: 0.8em;
		padding: 0.5em;
		text-align: right;
		width: 400px
	}

	#footer {
		font-size: 0.9em;
		padding: 10px;
		text-align: right;
	}

	.dataContainer {
		border-collapse: collapse;
		clear: both;
		margin: 1em 0 0 0;
		width: 100%
	}

	.dataContainer td {
		border-bottom: 1px solid #ccc;
		padding: 0.5em
	}

	.dataContainer td + td {
		border-left: 1px solid #ccc
	}

	.dataContainer tr:nth-child(odd) {
		background: #eee;
		color: inherit
	}

	.dataContainer tr:nth-child(even) {
		background: #fff;
		color: inherit
	}

	.success {
		background: inherit;
		color: #0a0
	}

	.failure {
		background: inherit;
		color: #f00
	}

	.flag3, flag2 {
		border: 2px solid #aaa;
		display: inline;
		margin: 0 0.5em;
		vertical-align: middle;
		width: 20px
	}

	.flag2 {
		margin: 0 0.5em;
		width: 16px
	}

	acronym[title] {
	  border-bottom: dotted 1px
	}

	pre {
		background: #eee;
		border: 1px solid #ddd;
		color: #000;
		display: block;
		font-family: Monospace;
		font-size: 0.9em;
		padding: 0.5em;
		white-space: pre-wrap
	}

	.contentOverview {
		background: #fff url('../images/back.png') repeat;
		border: 1px solid #ddd;
		color: inherit;

		margin: 1em 0;
		padding: 1em;
	}

	.formContainer {
		border-collapse: collapse;
		width: 100%;
	}

	.contentContainer {
		background: #fff url('../images/back.png');
		color: #000;
		margin: 2em 0;
		padding: 5px
	}

	.contentContainer .frame {
		background: #fff;
		color: #000;
		padding: 1em
	}

	p {
		margin: 1em 0
	}

	.helptext {
		border-top: 2px solid #506ca3;
		background: #fbfbfb;
		color: #000;
		padding: 1em
	}

	div.helptext {
		margin: 1em 0
	}

	.semanticSeparation {
		border-top: 1px solid #aaa
	}

	h2.semanticSeparation, h3.semanticSeparation, h4.semanticSeparation, h5.semanticSeparation, h6.semanticSeparation {
		padding: 0.25em 0 0 0;
	}

	div.semanticSeparation {
		padding: 1em 0 0 0
	}

	#jQueryLoading {
		background: #eee;
		border: 1px solid #ddd;
		color: #000;
		font-weight: bold;
		padding: 5px;
		position: fixed;
		top: 0;
		left: 410px;
		text-align: center;
		vertical-align: middle;
		width: 200px;
	}

	strong {
		font-weight: bold
	}

	em {
		font-style: italic;
		font-size: 0.8em
	}

	#rankingLabel {
		background: #fff;
		border: 1px solid #ddd;
		color: #000;
		padding: 1em
	}

	#rankingLabel table td {
		padding: 0
	}

	#rankingLabel em {
		background: #ffa;
		border: 1px solid #ddd;
		color: #000;
		margin: 0 0.25em 0 0;
		padding: 0 0.25em
	}

	.notificationBlock {
		background: #ffa;
		border: 1px solid #cc8;
		display: block;
		font-style: italic;
		margin: 1em;
		padding: 0.5em;
	}

	div.error, div.success, div.notice {
		background: #faa;
		border: 1px solid #f00;
		color: #000;
		margin: 10px;
		padding: 0.25em;
	}

	div.success {
		background: #afa;
		border: 1px solid #0a0;
		color: #000;
	}

	div.notice {
		background: #ffa;
		border: 1px solid #cc8;
		color: #000;
	}

	#resultList {
		list-style-type: none;
		margin: 10px 0 0 0;
		padding: 0;
	}

	#resultList li {
		background: #eee;
		color: #000;
		display: inline;
		font-weight: bold;
		margin: 0 10px 0 0;
		cursor: pointer;
		padding: 5px;
	}

	#resultList li.active {
		background: #809cd3;
		color: #fff;
	}

	#resultContainer {
		border: 2px solid #809cd3;
		padding: 5px;
	}
}